@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 767px;
  --breakpoint-md: 991px;
  --breakpoint-lg: 1050px;
  --breakpoint-xl: 1248px;

  --font-figtree: 'Figtree', sans-serif;

  --text-sm: 13px;
  --text-sm--line-height: 1.5rem;

  --leading-normal: 1.09;

  --transition-duration-400: 400ms;

  --color-primary-green-50: #fbfee6;
  --color-primary-green-100: #f1fdb1;
  --color-primary-green-200: #ebfb8b;
  --color-primary-green-300: #e2fa55;
  --color-primary-green-400: #dcf935;
  --color-primary-green-500: #d3f702;
  --color-primary-green-600: #c0e102;
  --color-primary-green-700: #96af01;
  --color-primary-green-800: #96af01;
  --color-primary-green-900: #596801;

  --color-primary-blue-50: #e7e8e8;
  --color-primary-blue-100: #b5b6b9;
  --color-primary-blue-200: #929397;
  --color-primary-blue-300: #606267;
  --color-primary-blue-400: #414349;
  --color-primary-blue-500: #11141c;
  --color-primary-blue-600: #0f1219;
  --color-primary-blue-700: #0c0e14;
  --color-primary-blue-800: #090b0f;
  --color-primary-blue-900: #07080c;

  --color-secondary-blue-50: #eaeaeb;
  --color-secondary-blue-100: #bcbdbf;
  --color-secondary-blue-200: #9c9da1;
  --color-secondary-blue-300: #6f7176;
  --color-secondary-blue-400: #53555b;
  --color-secondary-blue-450: #1d1f27;
  --color-secondary-blue-500: #282b32;
  --color-secondary-blue-600: #24272e;
  --color-secondary-blue-700: #1c1f24;
  --color-secondary-blue-800: #16181c;
  --color-secondary-blue-900: #111215;

  --color-secondary-pink-50: #fff4fd;
  --color-secondary-pink-100: #ffddf8;
  --color-secondary-pink-200: #ffccf4;
  --color-secondary-pink-300: #ffb5f0;
  --color-secondary-pink-400: #ffa6ed;
  --color-secondary-pink-500: #ff90e8;
  --color-secondary-pink-600: #e883d3;
  --color-secondary-pink-700: #b566a5;
  --color-secondary-pink-800: #8c4f80;
  --color-secondary-pink-900: #6b3c61;

  --color-secondary-green-50: #e9f6f4;
  --color-secondary-green-100: #bbe2de;
  --color-secondary-green-200: #9ad3ce;
  --color-secondary-green-300: #6cbfb7;
  --color-secondary-green-400: #4fb3a9;
  --color-secondary-green-500: #23a094;
  --color-secondary-green-600: #209287;
  --color-secondary-green-700: #197269;
  --color-secondary-green-800: #135851;
  --color-secondary-green-900: #0f433e;

  --color-secondary-yellow-50: #fffae6;
  --color-secondary-yellow-100: #ffeeb0;
  --color-secondary-yellow-150: #f9ff54;
  --color-secondary-yellow-200: #ffe68a;
  --color-secondary-yellow-300: #ffdb54;
  --color-secondary-yellow-400: #ffd433;
  --color-secondary-yellow-500: #ffc900;
  --color-secondary-yellow-600: #e8b700;
  --color-secondary-yellow-700: #b58f00;
  --color-secondary-yellow-800: #8c6f00;
  --color-secondary-yellow-900: #6b5400;

  --color-semantic-blue-50: #f4f6fd;
  --color-semantic-blue-100: #dde4f9;
  --color-semantic-blue-150: #151821;
  --color-semantic-blue-200: #ccd7f7;
  --color-semantic-blue-300: #b5c5f3;
  --color-semantic-blue-400: #a6b9f1;
  --color-semantic-blue-500: #90a8ed;
  --color-semantic-blue-600: #8399d8;
  --color-semantic-blue-700: #6677a8;
  --color-semantic-blue-800: #4f5c82;
  --color-semantic-blue-900: #3c4764;

  --color-neutral-ochre-50: #fbf3ea;
  --color-neutral-ochre-100: #f1d9be;
  --color-neutral-ochre-200: #eac79e;
  --color-neutral-ochre-300: #e1ae72;
  --color-neutral-ochre-400: #db9e56;
  --color-neutral-ochre-500: #d2862c;
  --color-neutral-ochre-600: #bf7a28;
  --color-neutral-ochre-700: #955f1f;
  --color-neutral-ochre-800: #744a18;
  --color-neutral-ochre-900: #583812;

  --color-neutral-green-50: #e9f6e7;
  --color-neutral-green-100: #bae2b5;
  --color-neutral-green-200: #99d592;
  --color-neutral-green-300: #6bc160;
  --color-neutral-green-400: #4eb541;
  --color-neutral-green-500: #22a311;
  --color-neutral-green-600: #1f940f;
  --color-neutral-green-700: #18740c;
  --color-neutral-green-800: #135a09;
  --color-neutral-green-900: #0e4407;

  --color-alert-red-50: #fbeaed;
  --color-alert-red-100: #f3bfc8;
  --color-alert-red-200: #ed9fad;
  --color-alert-red-300: #e47488;
  --color-alert-red-400: #df5971;
  --color-alert-red-500: #d72f4d;
  --color-alert-red-600: #c42b46;
  --color-alert-red-700: #992137;
  --color-alert-red-800: #761a2a;
  --color-alert-red-900: #5a1420;

  --color-background-light: #ffffff;
  --color-background-dark: #11141c;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
}

@layer utilities {
  body {
    background-color: var(--color-primary-blue-500);
    color: white;
  }
  * {
    @apply font-figtree;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility k-transition {
  @apply transition-all duration-400;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* slider style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.3);
  border-radius: 3px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 32px;
  padding-left: 32px;

  @media screen and (max-width: 999px) {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  @media screen and (max-width: 766px) {
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

/* left to right scroll */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel-row {
  display: flex;
  animation: scroll-left 60s linear infinite;
}

.carousel-row.reverse {
  animation: scroll-right 60s linear infinite;
}

/* .carousel-row:hover {
  animation-play-state: paused;
} */

.carousel-row > * {
  pointer-events: auto;
}

.carousel-row {
  width: max-content;
  white-space: nowrap;
}

/* top to bottom scroll*/
.vertical-marquee {
  animation: marquee-up 60s linear infinite;
}

.vertical-marquee.reverse {
  animation: marquee-down 60s linear infinite;
}

@keyframes marquee-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes marquee-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
